<NavBar />
<app-main />
<app-footer />

<style>
  :host {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    /* min-width: 100vw; */
    align-items: center;
  }

  NavBar {
    flex: 0 0 auto;
    width: 100%;
  }

  app-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: white;
    height: 100%;
    width: 50%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2);
  }

  app-footer {
    flex: 0 0 auto;
    width: 100%;
    color: rgb(180, 137, 21);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
  }
</style>

<router-outlet></router-outlet>
